<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Declaration</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="home">
    <h1>Generate your declaration</h1>
    <div class="btn"> 
      <a class ="new" href="/pdf/new">Generate new declaration</a>
      <a class="own" href="/pdf/info">Generate my declaration </a></div>
    </div>
</body>
</html>